<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

<% @user.addresses.each do |address| %>
  <section id="address-<%= address.id %>">
    <p>Address Type: <%= address.nickname %></p>
    <p>Address: <%= address.street %></p>
    <p><%= address.city %>, <%= address.state %> <%= address.zip %></p>
  </section>
<% end %>

<%= link_to "Add Address", "/users/#{@user.id}/addresses/new" %>
