<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

<% @user.addresses.each do |address| %>
  <section id="address-<%= address.id %>">
    <p>Address: <%= address.street %>, <%= address.city %>, <%= address.state %> <%= address.zip %></p>
    <p>(Type: <%= address.nickname %>)</p>

    <% if !current_admin? %>
      <%= link_to "Edit Address", edit_user_address_path(@user, address) %>
    <% end %>

    <%= link_to "Delete Address", user_address_path(@user, address), method: :delete %>
  </section>
<% end %>

<%= link_to "Add Address", "/users/#{@user.id}/addresses/new" %>
